---
layout: default
title: GitLab DevOps Download
description: "See the options to self-host GitLab or use GitLab.com."
canonical_path: "/devops-download/"
suppress_header: true
disable_default_styles: true
disable_handbook_styles: true
extra_css:
  - devops-download.css
  - slippers.css
---
.slp-relative.slp-pt-48.slp-container.slp-mx-auto.slp-mt-24
  .slp-flex.slp-justify-center.slp-p-8.slp-absolute.slp-left-4.slp-top-8.slp-transform.slpDevOpsDownloadLeft{:class => "sm:slp-left-1/4"}
    %svg{:fill => "none", :height => "45", :viewbox => "0 0 59 45", :width => "59", :xmlns => "http://www.w3.org/2000/svg"}
      %rect{:fill => "#FCA121", :height => "11", :rx => "1", :transform => "rotate(-29.8425 43 5.47382)", :width => "11", :x => "43", :y => "5.47382"}
      %path{:d => "M11.5645 25.0247C12.0886 24.492 12.9911 24.7015 13.2271 25.4105L16.9699 36.6567C17.2153 37.3941 16.5621 38.1167 15.8032 37.9476L3.65825 35.2406C2.89174 35.0698 2.6118 34.1234 3.16229 33.564L11.5645 25.0247Z", :fill => "#52CDB7"}
  .slp-flex.slp-justify-center.slp-p-8.slp-absolute.slp-right-4.slp-top-2.slp-transform.slpDevOpsDownloadRight{:class => "sm:slp-right-1/4"}
    %svg{:fill => "none", :height => "58", :viewbox => "0 0 55 58", :width => "55", :xmlns => "http://www.w3.org/2000/svg"}
      %path{:d => "M41.3009 41.6288C41.3654 40.8841 42.1943 40.4709 42.8278 40.8675L52.1363 46.6945C52.7984 47.1089 52.7509 48.0885 52.0519 48.437L41.7955 53.5509C41.0964 53.8995 40.2856 53.3479 40.353 52.5697L41.3009 41.6288Z", :fill => "#2F80ED"}
      %circle{:cx => "5.5", :cy => "5.5", :fill => "#9B51E0", :r => "5.5"}
  %h2.slp-text-3xl.slp-font-normal.md:slp-text-4xl.slp-text-center.slp-max-w-7xl.slp-m-auto.slp-pt-32.slp-mb-24.slp-px-16
    “DevOps Download” Newletters
  .md:slp-flex.slp-justify-center.slp-items-stretch.slp-flex-wrap
    %a.slp-p-32.slp-pt-24.slp-border.slp-border-grayscale-highlight.slp-border-solid.slp-m-16.slp-my-48.hover:slp-shadow-lg.slp-ease-in-out.slp-transition-all.slp-duration-300.slp-rounded-md.slp-group.slp-relative.md:slp-max-w-md.lg:slp-max-w-xl.md:slp-h-96.slp-flex.slp-flex-col.slp-justify-between{:href => "https://page.gitlab.com/index.php/email/emailWebview?mkt_tok=MTk0LVZWQy0yMjEAAAF75LZPxoPGxH-mVLFPDc1ChwToERzKuUHote7-Bsc0EDyEKKlwRQ305BvMIkAg2aKnCGBzyn7HE3NQE2alm3rHMuXnQeYNP1YZeBADfqWCSU5apn_nKQfqvNM", :target => "_blank"}
      .slp-absolute.slp--top-8.slp-left-18.slp-rounded-squareFull.slp-bg-grayscale-highlight.slp-inline-block.slp-p-12.group-hover:slp-bg-ui-secondary-dark.group-hover:slp-text-grayscale-highlight.slp-ease-in-out.slp-transition-all.slp-duration-300.slp-leading-6
        %svg.slp-text-ui-secondary-dark.slp-fill-current.group-hover:slp-text-grayscale-highlight.slp-min-h-full{:fill => "none", :height => "16", :viewbox => "0 0 16 16", :width => "16", :xmlns => "http://www.w3.org/2000/svg"}
          %path{"clip-rule" => "evenodd", :d => "M0 4C0 2.89543 0.895431 2 2 2H14C15.1046 2 16 2.89543 16 4V12C16 13.1046 15.1046 14 14 14H2C0.895431 14 0 13.1046 0 12V4ZM2 4H14V4.0077L8.00395 7.46952L2 4.00315V4ZM2 6.31255V12H14V6.3171L8.00395 9.77893L2 6.31255Z", "fill-rule" => "evenodd"}
      %div
        %h5.slp-uppercase.slp-text-grayscale-gray2.slp-text-xs.slp-tracking-widest.slp-py-8
          Email
        %h4.slp-text-sm.slp-pb-4.slp-text-grayscale-333 March 2021
        %h3.slp-text-grayscale-333.group-hover:slp-text-ui-secondary-dark.slp-text-md.slp-font-normal.md:slp-text-lg.slp-ease-in-out.slp-pb-24
          Get the DevOps Download from GitLab
      %p.slp-text-base.slp-font-semibold.slp-text-ui-secondary-dark
        Learn more →
    %a.slp-p-32.slp-pt-24.slp-border.slp-border-grayscale-highlight.slp-border-solid.slp-m-16.slp-my-48.hover:slp-shadow-lg.slp-ease-in-out.slp-transition-all.slp-duration-300.slp-rounded-md.slp-group.slp-relative.md:slp-max-w-md.lg:slp-max-w-xl.md:slp-h-96.slp-flex.slp-flex-col.slp-justify-between{:href => "https://page.gitlab.com/index.php/email/emailWebview?mkt_tok=eyJpIjoiTlRoaU9ERTRZek14WWprMyIsInQiOiJsaE5ldkJXbjd3SWEwVGdwemMxanZDaDNJZllHK01BenJWcEVPVmw2NWZCOHZ0clVKVHZIRmJCTEI1TVVVV2VJMm9uSWVXNXBpU2ZuMC91Sjh4dnRSWSs5eTJ4TTBHcnFJWlU2WS9oNHdxVkNna0l2OVRzYkV0aTUvREcvYmRjWiJ9", :target => "_blank"}
      .slp-absolute.slp--top-8.slp-left-18.slp-rounded-squareFull.slp-bg-grayscale-highlight.slp-inline-block.slp-p-12.group-hover:slp-bg-ui-secondary-dark.group-hover:slp-text-grayscale-highlight.slp-ease-in-out.slp-transition-all.slp-duration-300.slp-leading-6
        %svg.slp-text-ui-secondary-dark.slp-fill-current.group-hover:slp-text-grayscale-highlight.slp-min-h-full{:fill => "none", :height => "16", :viewbox => "0 0 16 16", :width => "16", :xmlns => "http://www.w3.org/2000/svg"}
          %path{"clip-rule" => "evenodd", :d => "M0 4C0 2.89543 0.895431 2 2 2H14C15.1046 2 16 2.89543 16 4V12C16 13.1046 15.1046 14 14 14H2C0.895431 14 0 13.1046 0 12V4ZM2 4H14V4.0077L8.00395 7.46952L2 4.00315V4ZM2 6.31255V12H14V6.3171L8.00395 9.77893L2 6.31255Z", "fill-rule" => "evenodd"}
      %div
        %h5.slp-uppercase.slp-text-grayscale-gray2.slp-text-xs.slp-tracking-widest.slp-py-8
          Email
        %h4.slp-text-sm.slp-pb-4.slp-text-grayscale-333
          February 2021
        %h3.slp-text-grayscale-333.group-hover:slp-text-ui-secondary-dark.slp-text-md.slp-font-normal.md:slp-text-lg.slp-ease-in-out.slp-pb-24
          Rust is hot and Europe is cool on open source
      %p.slp-text-base.slp-font-semibold.slp-text-ui-secondary-dark
        Learn more →
    %a.slp-p-32.slp-pt-24.slp-border.slp-border-grayscale-highlight.slp-border-solid.slp-m-16.slp-my-48.hover:slp-shadow-lg.slp-ease-in-out.slp-transition-all.slp-duration-300.slp-rounded-md.slp-group.slp-relative.md:slp-max-w-md.lg:slp-max-w-xl.md:slp-h-96.slp-flex.slp-flex-col.slp-justify-between{:href => "https://page.gitlab.com/index.php/email/emailWebview?mkt_tok=MTk0LVZWQy0yMjEAAAF75Lq-ayXxj1cnOyfxIsZSDf9NO5glcZ13jgaWvzl2bvSg-miVzpjME2yhSwKPfAXsFeybI0VGR4qxtJlphXpaC95KExYBx9Jk2JcaFFUGBVHGrQ9ctquO-n4", :target => "_blank"}
      .slp-absolute.slp--top-8.slp-left-18.slp-rounded-squareFull.slp-bg-grayscale-highlight.slp-inline-block.slp-p-12.group-hover:slp-bg-ui-secondary-dark.group-hover:slp-text-grayscale-highlight.slp-ease-in-out.slp-transition-all.slp-duration-300.slp-leading-6
        %svg.slp-text-ui-secondary-dark.slp-fill-current.group-hover:slp-text-grayscale-highlight.slp-min-h-full{:fill => "none", :height => "16", :viewbox => "0 0 16 16", :width => "16", :xmlns => "http://www.w3.org/2000/svg"}
          %path{"clip-rule" => "evenodd", :d => "M0 4C0 2.89543 0.895431 2 2 2H14C15.1046 2 16 2.89543 16 4V12C16 13.1046 15.1046 14 14 14H2C0.895431 14 0 13.1046 0 12V4ZM2 4H14V4.0077L8.00395 7.46952L2 4.00315V4ZM2 6.31255V12H14V6.3171L8.00395 9.77893L2 6.31255Z", "fill-rule" => "evenodd"}
      %div
        %h5.slp-uppercase.slp-text-grayscale-gray2.slp-text-xs.slp-tracking-widest.slp-py-8
          Email
        %h4.slp-text-sm.slp-pb-4.slp-text-grayscale-333
          January 2021
        %h3.slp-text-grayscale-333.group-hover:slp-text-ui-secondary-dark.slp-text-md.slp-font-normal.md:slp-text-lg.slp-ease-in-out.slp-pb-24
          Get our new DevOps Download newsletter
      %p.slp-text-base.slp-font-semibold.slp-text-ui-secondary-dark
        Learn more →